.grid {
    margin-left: 5px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
}

.fav {
    background: none;
    border: none;
    color:  #d29435;
}

.fav:hover {
    background: none;
    border: none;
    color: orange;
}

.seen {
    background: none;
    border: none;
    color:  #d29435;
}

.seen:hover {
    background: none;
    border: none;
    color: orange;

}

.pended {
    background: none;
    border: none;
    color: #d29435;

}

.pended:hover {
    background: none;
    border: none;
    color: orange;
}

.added {
    color: greenyellow;
    background: none;
    border: none;
    cursor: pointer;
}

.added:hover {
    color: rgb(80, 123, 15);
    background: none;
    border: none;
}

.ind {
    transition: all .4s ease-in-out; 
}
      
 .ind:hover { 
    transform: scale(0.9);   
}

.recommended {
    display: flex;
}



  .banner {
    background-image: url('https://cdn.pixabay.com/photo/2013/07/12/17/22/curtain-152112_1280.png');
    width: 100%;
    min-height: 400px;
    background-position:center;
    object-fit: cover;
    background-size: cover;
  }



h2 {
    font-family: 'Rowdies';
    font-size: 40px;
    font-weight: 100;
}


a {
    position: relative;
}





